/* main file for importing scss files */
body {
  /*position: relative;
    padding: 0;
    margin: 0;
    font-family: "Verdana";
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    background-color: $base-black;
    overflow-x: hidden;*/ }

*, *:after, *:before {
  box-sizing: inherit; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.header {
  padding: 0.5em 0; }
  .header.top {
    background-color: #000; }
  .header.middle {
    background-color: #F8EDB4; }
  .header.bottom {
    background-color: #fff; }

main {
  background-color: #ededed; }

footer {
  padding: 1em 0;
  background-color: #000; }

.page.header {
  background-color: #ededed; }

.page.main {
  background-color: #fff;
  padding: 0.5em 0; }

.col-sm-offset-3 {
  margin-left: 0; }
  @media (min-width: 48em) {
    .col-sm-offset-3 {
      margin-left: 25%; } }

.icon-right {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pg0KPCFET0NUWVBFIHN2ZyAgUFVCTElDICctLy9XM0MvL0RURCBTVkcgMS4xLy9FTicgICdodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQnPg0KPHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAzMiAzMiIgaGVpZ2h0PSIzMnB4IiBpZD0iIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KPHBhdGggY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMjEuNjk4LDE1LjI4NmwtOS4wMDItOC45OTkgIGMtMC4zOTUtMC4zOTQtMS4wMzUtMC4zOTQtMS40MzEsMGMtMC4zOTUsMC4zOTQtMC4zOTUsMS4wMzQsMCwxLjQyOEwxOS41NTMsMTZsLTguMjg3LDguMjg1Yy0wLjM5NSwwLjM5NC0wLjM5NSwxLjAzNCwwLDEuNDI5ICBjMC4zOTUsMC4zOTQsMS4wMzYsMC4zOTQsMS40MzEsMGw5LjAwMi04Ljk5OUMyMi4wODgsMTYuMzI1LDIyLjA4OCwxNS42NzUsMjEuNjk4LDE1LjI4NnoiIGZpbGw9IiNiYzE1MTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9IkNoZXZyb25fUmlnaHQiLz4NCjxnLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px; }

.input-block {
  display: block !important;
  padding: 1em !important; }
  @media (pointer: coarse) {
    .input-block {
      outline: 2px dashed cadetblue; } }

.service-list {
  /*li:not(:last-of-type) {
        margin-bottom: 1em;
    }*/ }
  .service-list li {
    margin-bottom: 1em; }

.form-flex-group {
  display: -ms-flexbox;
  display: flex;
  outline: 1px dashed #444; }
  .form-flex-group .item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
    .form-flex-group .item label {
      display: block; }

.form .item {
  margin-bottom: 1em; }
  .form .item label {
    display: block;
    font-size: 75%;
    font-family: 'Interstate Bd', Helvetica, Arial, sans-serif; }
  .form .item input {
    width: 100%; }

.form.append .item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form.append .item label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  @media (min-width: 30em) {
    .form.append .item {
      -ms-flex-direction: row;
      flex-direction: row; } }
  .form.append .item input {
    -ms-flex: 0;
    flex: 0;
    margin-right: 0;
    margin-bottom: 1em; }
    @media (min-width: 30em) {
      .form.append .item input {
        -ms-flex: 1;
        flex: 1;
        margin-right: 1em;
        margin-bottom: 0;
        width: 100%; } }

.form.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .form.flex .item {
    width: 100%; }
    .form.flex .item:not(:last-of-type) {
      width: 100%; }
      @media (min-width: 30em) {
        .form.flex .item:not(:last-of-type) {
          width: calc(50% - .5em); } }
  .form.flex.col-2-8 .item {
    width: 100%; }
    @media (min-width: 30em) {
      .form.flex.col-2-8 .item {
        width: 80%; } }
    .form.flex.col-2-8 .item:first-of-type {
      width: 100%; }
      @media (min-width: 30em) {
        .form.flex.col-2-8 .item:first-of-type {
          width: calc(20% - 1em);
          margin-right: 1em; } }
  .form.flex.col-4-6 .item {
    width: 100%; }
    @media (min-width: 30em) {
      .form.flex.col-4-6 .item {
        width: 60%; } }
    .form.flex.col-4-6 .item:first-of-type {
      width: 100%; }
      @media (min-width: 30em) {
        .form.flex.col-4-6 .item:first-of-type {
          width: calc(40% - 1em);
          margin-right: 1em; } }
  .form.flex.col-5-5 .item {
    width: 100%; }
    @media (min-width: 30em) {
      .form.flex.col-5-5 .item {
        width: calc(50% - .5em); } }
  .form.flex.col-6-4 .item {
    width: 100%; }
    @media (min-width: 30em) {
      .form.flex.col-6-4 .item {
        width: 40%; } }
    .form.flex.col-6-4 .item:first-of-type {
      width: 100%; }
      @media (min-width: 30em) {
        .form.flex.col-6-4 .item:first-of-type {
          width: calc(60% - 1em);
          margin-right: 1em; } }
  .form.flex.col-1 .item {
    width: 100%; }

select {
  width: 100% !important;
  padding: .35em .5em !important; }

.trailer-card {
  border-bottom: 2px solid #ededed;
  margin: 1em 0; }
  .trailer-card-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 1em; }
    @media (min-width: 48em) {
      .trailer-card-container {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 2em; } }
  .trailer-card-image, .trailer-card-info, .trailer-card-action {
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
    .trailer-card-image:not(:last-of-type), .trailer-card-info:not(:last-of-type), .trailer-card-action:not(:last-of-type) {
      margin-bottom: 1em; }
    @media (min-width: 48em) {
      .trailer-card-image, .trailer-card-info, .trailer-card-action {
        -ms-flex: 0 1 33.3333%;
        flex: 0 1 33.3333%;
        margin-bottom: 0; } }
  .trailer-card-image img {
    margin: 0; }
    @media (min-width: 48em) {
      .trailer-card-image img {
        margin: 0 auto; } }
  @media (min-width: 48em) {
    .trailer-card-action {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      text-align: center; } }

dl {
  margin: 0; }
  dl dt {
    float: left;
    clear: left;
    width: 150px;
    color: #999; }
    dl dt:after {
      content: ":"; }
  dl dl {
    margin: 0 0 0 160px;
    padding: 0 0 0.5em 0; }

.calendar-view {
  margin: 1em 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 48em) {
    .calendar-view {
      -ms-flex-direction: row;
      flex-direction: row; } }
  .calendar-view-item {
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
    .calendar-view-item:not(:last-of-type) {
      margin-right: 1em;
      border-right: 1px solid #ccc; }
    @media (min-width: 48em) {
      .calendar-view-item {
        -ms-flex: 0 1 15%;
        flex: 0 1 15%; } }
    .calendar-view-item label {
      cursor: pointer; }
    .calendar-view-item input:disabled + label {
      cursor: default;
      text-decoration: line-through;
      color: #ccc; }

#map {
  width: 100%;
  height: 300px;
  background-color: grey;
  margin-bottom: 1em; }
  @media (min-width: 48em) {
    #map {
      height: 400px; } }

.orders {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 30em) {
    .orders {
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (min-width: 75em) {
    .orders {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }
  .orders-item {
    width: 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
    @media (min-width: 30em) {
      .orders-item {
        width: calc(100% / 3);
        -ms-flex: 0 1 calc(100% / 3);
        flex: 0 1 calc(100% / 3); } }
    @media (min-width: 48em) {
      .orders-item {
        width: calc(100% / 4);
        -ms-flex: 0 1 calc(100% / 4);
        flex: 0 1 calc(100% / 4); } }
    @media (min-width: 62em) {
      .orders-item {
        width: calc(100% / 5);
        -ms-flex: 0 1 calc(100% / 5);
        flex: 0 1 calc(100% / 5); } }
    @media (min-width: 75em) {
      .orders-item {
        width: calc(100% / 7);
        -ms-flex: 0 1 calc(100% / 7);
        flex: 0 1 calc(100% / 7); } }
    .orders-item-heading p, .orders-item-content p {
      margin: 0;
      padding: 0.5em; }
    .orders-item-heading {
      border-bottom: 1px solid #ededed; }
  .orders-content-item {
    border: 1px solid #ededed;
    margin: 0.5em;
    padding: 0.5em 0;
    text-align: center;
    min-height: 4em;
    background-color: transparent;
    color: #000;
    /*&:not(:last-of-type) {
                margin-bottom: $base-unit/2;
            }*/ }
    .orders-content-item.booked {
      background-color: #ededed; }
    .orders-content-item:not(.booked):hover {
      background-color: red;
      color: white; }
    .orders-content-item p {
      margin: 0;
      padding: 0;
      font-size: 1em; }
      @media (min-width: 48em) {
        .orders-content-item p {
          font-size: 75%; } }

.col-container {
  -ms-columns: 12.5em;
  -ms-column-gap: 1em;
  -moz-columns: 12.5em;
  columns: 12.5em;
  -moz-column-gap: 1em;
  column-gap: 1em; }

.col-item {
  margin-bottom: 1em;
  padding: .5em;
  border: 1px solid #999;
  background-color: #fff;
  page-break-inside: avoid;
  break-inside: avoid;
  font-size: 75%; }
  .col-item img {
    margin-bottom: .5em; }

date-input-polyfill {
  background: #fff;
  color: #000;
  text-shadow: none;
  border: 0;
  padding: 0;
  height: auto;
  width: auto;
  line-height: normal;
  font-family: sans-serif;
  font-size: 14px;
  position: absolute !important;
  text-align: center;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.22);
  cursor: default;
  z-index: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
  display: block; }
  date-input-polyfill[data-open="false"] {
    visibility: hidden;
    z-index: -100 !important;
    top: 0; }
  date-input-polyfill[data-open="true"] {
    visibility: visible; }
  date-input-polyfill select, date-input-polyfill table, date-input-polyfill th, date-input-polyfill td {
    background: #fff;
    color: #000;
    text-shadow: none;
    border: 0;
    padding: 0;
    height: auto;
    width: auto;
    line-height: normal;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: none;
    font-family: 'Lato', Helvetica, Arial, sans-serif; }
  date-input-polyfill select, date-input-polyfill button {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #DADFE1;
    height: 24px;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none; }
  date-input-polyfill .monthSelect-wrapper {
    width: 55%;
    display: inline-block; }
  date-input-polyfill .yearSelect-wrapper {
    width: 25%;
    display: inline-block; }
  date-input-polyfill select {
    width: 100%; }
    date-input-polyfill select:first-of-type {
      border-right: 1px solid #DADFE1;
      border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0; }
  date-input-polyfill button {
    width: 20%;
    background: #DADFE1;
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0; }
    date-input-polyfill button:hover {
      background: #eee; }
  date-input-polyfill table {
    border-collapse: separate !important;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    overflow: hidden;
    max-width: 280px;
    width: 280px; }
  date-input-polyfill th, date-input-polyfill td {
    width: 32px;
    padding: 4px;
    text-align: center;
    box-sizing: content-box; }
  date-input-polyfill td[data-day] {
    cursor: pointer; }
    date-input-polyfill td[data-day]:hover {
      background: #DADFE1; }
  date-input-polyfill [data-selected] {
    font-weight: bold;
    background: #D8EAF6; }
